{% extends 'base.html' %}
{% block content %}
    <div class='w-100 headersec-2 d-flex flex-column justify-content-center align-items-center'>
        <h1 class="fw-bolder fs-1 main-heading text-dark">TGI USA Visa Blogs</h1>
        <p>Home >> Blogs</p>
    </div>
    {% for post in posts %}
        <a class='m-3 bg-info'href="{{ post.get_absolute_url }}">
            <h3><a>{{ post.title }}</a></h3>
            <p>By {{ post.author }} on {{ post.created_at|date:"F d, Y" }}</p>
            <p>{{ post.content|truncatewords:30 | safe}}</p>
        </a>
    {% endfor %}
{% endblock %}