{% extends "base.html" %}
{% block content %}
<style>
  .main-header{
    background-color:black !important;
  }
</style>
<div class='container text-center p-5'>
<h1 class='fw-bolder fs-1 main-heading w-100 text-center'>Fill in your details</h1>
<p class="text-break w-100 text-center">Pleae Enter Your Details and Book Your Visa Appointment within 5 Weeks</p>
</div>
<div class='container'>
    <div class='row'>
    <div class='col'>    
        <form method="POST" enctype="multipart/form-data" novalidate action="{% url 'appointment_form' visa_type=visa_type %}?location={{ appointment_location }}&travelers={{ travellers }}">
            {% csrf_token %}
                <input type="hidden" name="visa_type" value="{{ visa_type }}">
                <input type="hidden" name="appointment_location" value="{{ appointment_location }}">
                <input type="hidden" name="travellers" value="{{ travellers }}">
            <div class="row mt-5">
                <div class="col-md-12">
                  {{ form.full_name.label_tag }}
                  <div class="input-group mb-3">
                      <span class="input-group-text form-img form-sec-01 pt-2 pb-2"
                          style="border-radius: 12px 0 0 12px; border: 1.2px solid rgba(0, 0, 0, 0.5); border-right: none !important">
                          <img src="/static/images/icons/account.svg" alt="Full Name" />
                      </span>
                      {{ form.full_name }}
                  </div>
                </div>
                <div class="col-md-12">
                  {{ form.mobile_number.label_tag }}
                  <div class="input-group mb-3">
                      <span class="input-group-text form-img form-sec-01 pt-2 pb-2"
                          style="border-radius: 12px 0 0 12px; border: 1.2px solid rgba(0, 0, 0, 0.5); border-right: none !important">
                          <img src="/static/images/icons/call.svg" alt="Phone Number" />
                      </span>
                      {{ form.mobile_number }}
                  </div>
                </div>
            
                <div class="col-md-12">
                  {{ form.email.label_tag }}
                  <div class="input-group mb-3">
                      <span class="input-group-text form-img form-sec-01 pt-2 pb-2"
                          style="border-radius: 12px 0 0 12px; border: 1.2px solid rgba(0, 0, 0, 0.5); border-right: none !important">
                          <img src="/static/images/icons/email.svg" alt="Email ID" />
                      </span>
                      {{ form.email }}
                  </div>
                </div>
                <div class="w-100 text-center d-flex justify-content-center align-item-center">
                    <button type="submit"class='mb-5 mt-3 w-50 text-decoration-none align-items-center justify-content-center d-flex rounded-pill fw-bold pt-2 pb-2 button2 text-dark border-2 fs-5'>Scheduled Appointment</button>
                </div>          
                <div class='container d-flex justify-content-center align-item-center mt-3 mb-3 invisible'>
                  <div class='col-md-12'>
                      <p class=' w-25 text-center fw-bolder fs-6 rounded-pill ps-2 pe-2 m-1 text-dark' style='background-color: #FFDD00; padding-bottom:1px !important;'>Price<p>
                      <ul class='m-0 p-0'>
                          <li class='fs-6 d-flex flex-row align-item-center justify-content-between m-1'><span style='font-weight:500;'>Pay Now</span><span id="payNowAmount">Rs. 9,999 x 1</span></li>
                          <li class='fs-6 d-flex flex-row align-item-center justify-content-between m-1'><span style='font-weight:500;'>Inteview Training</span><span class='rounded-pill ps-2 pe-2 text-dark' style='background-color: #FFDD00; padding-bottom:1px !important;'>Free</span></li>
                          <li class='fs-6 d-flex flex-row align-item-center justify-content-between m-1'><span style='font-weight:500;'>Document Checklikst</span><span class='rounded-pill ps-2 pe-2 text-dark' style='background-color: #FFDD00; padding-bottom:1px !important;'>Free</span></li>
                          <li class='fs-6 d-flex flex-row align-item-center justify-content-between m-1'><span style='font-weight:500;'>DS160 Form Review & Suggestion</span><span class='rounded-pill ps-2 pe-2 text-dark' style='background-color: #FFDD00; padding-bottom:1px !important;'>Free</span></li>
                          <li class='fs-6 d-flex flex-row align-item-center justify-content-between m-1'><span style='font-weight:500;'>24/7 Assistance</span><span class='rounded-pill ps-2 pe-2 text-dark' style='background-color: #FFDD00; padding-bottom:1px !important;'>Free</span></li>
                          <div class='w-100 d-flex flex-row align-item-center justify-content-center mt-2 mb-2'><div class='line'></div></div>
                          <li class='fs-6 fw-bold d-flex flex-row align-item-center justify-content-between'><span>Pay later</span><span id="payLaterAmount">Rs. 4,999 x 1</span></li>
                          <li class='fs-6 fw-bold d-flex flex-row align-item-center justify-content-between'><span>Total Amount</span><span id="totalAmount">Rs. 9,999/-</span></li>
                      </ul>
                  </div>
                </div>  
            </div>
        </form>
    </div>
    <div class='col'>
      <img src="/static/images/airport.gif" class="d-block w-100 rounded-5" alt="..." style>
    </div>
    </div>
</div>
{% endblock %}






